# Python cache
__pycache__/
*.py[cod]

# Jupyter checkpoints
.ipynb_checkpoints/

# Conda / virtualenv
env/
venv/
*.env

# Yolov11 çıktıları
runs/
weights/

# Büyük veri dosyaları (opsiyonel olarak)
dataset/